.idea

htdocs/*
!htdocs/wp-content
htdocs/wp-content/*
!htdocs/wp-content/plugins
htdocs/wp-content/plugins/*
!htdocs/wp-content/plugins/mailhog

!htdocs/wp-content/themes
htdocs/wp-content/themes/*
!htdocs/wp-content/themes/jkb-child

helper/root/.ssh/*
helper/root/.*
!helper/root/.my.cnf
sync.sql

