@font-face {
  font-family: 'BereitBold';
  src: url('assets/BereitBold-Regular.woff2') format('woff2'),
}

h1, h2, h3, h4, h5, h6,
.nav-main, .home-tabs .responsive-tabs__list li{
  font-family: 'BereitBold' !important;
}